$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?03804fffe418f6329050d3e7239b02ff") format("truetype"),
url("./flaticon.woff?03804fffe418f6329050d3e7239b02ff") format("woff"),
url("./flaticon.woff2?03804fffe418f6329050d3e7239b02ff") format("woff2"),
url("./flaticon.eot?03804fffe418f6329050d3e7239b02ff#iefix") format("embedded-opentype"),
url("./flaticon.svg?03804fffe418f6329050d3e7239b02ff#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "facebook-circular-logo": "\f101",
    "facebook": "\f102",
    "heart": "\f103",
    "instagram-2": "\f104",
    "instagram-3": "\f105",
    "leaf": "\f106",
    "meditation-1": "\f107",
    "meditation": "\f108",
    "pinterest-circular-logo-symbol": "\f109",
    "twitter-2": "\f10a",
    "twitter-3": "\f10b",
);

.flaticon-facebook-circular-logo:before {
    content: map-get($flaticon-map, "facebook-circular-logo");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-instagram-2:before {
    content: map-get($flaticon-map, "instagram-2");
}
.flaticon-instagram-3:before {
    content: map-get($flaticon-map, "instagram-3");
}
.flaticon-leaf:before {
    content: map-get($flaticon-map, "leaf");
}
.flaticon-meditation-1:before {
    content: map-get($flaticon-map, "meditation-1");
}
.flaticon-meditation:before {
    content: map-get($flaticon-map, "meditation");
}
.flaticon-pinterest-circular-logo-symbol:before {
    content: map-get($flaticon-map, "pinterest-circular-logo-symbol");
}
.flaticon-twitter-2:before {
    content: map-get($flaticon-map, "twitter-2");
}
.flaticon-twitter-3:before {
    content: map-get($flaticon-map, "twitter-3");
}
